.content{
    width: 350px;
    height: 200px;
    box-shadow: 0 10px 20px burlywood;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#timer{
    font-size: 20px;
    font-weight: 900;
}
.btns button{
    border: none;
    width: 80px;
    height: 32px;
    font-size: 20px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btns button:hover{
    background-color: red;
}

.btns button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}
 